////////////////////////////////////////////////
// Squarespace Copy
////////////////////////////////////////////////
$grey: #7f888f;
$grey-light:   lighten($grey, 10%);
$grey-lighter: lighten($grey, 20%);

$green:        #4BBF73;
$blue:         #1F9BCF;
$red:          #d9534f;

$orange: rgba(250,121,0,1);
$brown: rgba(28,21,19,0.95);
$sqrWhite: rgba(255,255,255,0.6);
$sqrAlt: #F5F5F5;

$footer-background-color:$brown;

$primary: $brown !default;
$link: $orange;

$family-sans-serif: "FuturaPT", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$body-size: 14px;

$radius: 0;
$radius-small: $radius;

$navbar-height: 5rem;
$navbar-background-color: $brown;
$navbar-item-color: $sqrWhite;
$navbar-item-hover-color: #fff;
$navbar-item-active-color: #fff;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-arrow: #fff;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-border-top: 1px solid lighten($primary, 10);
$navbar-divider-background-color: lighten($primary, 10);
$navbar-dropdown-item-active-color: #fff;
$navbar-dropdown-item-hover-color: $grey-lighter;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;


// Fixed images

$widths:
    "50" 50%,
    "75" 75%,
    "400" 400px,
    "600" 600px,
    "800" 800px;

@each $i in $widths {
    .is-max-mobile-#{nth($i,1)} {
        @media screen and (max-width: $tablet) {
        max-width: nth($i,2);
        }
    }
}

@font-face {
  font-family: 'FuturaPT';
  src: url("/fonts/web/PTFBook.otf") format('opentype');
}
// url('myfont.woff2') format('woff2'),
//        url('myfont.woff') format('woff'),
