
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$family-primary: $family-sans-serif!default;

{{ with .Site.Params.scss.customFontBody }} 
$custom-font-body: {{.}};
$family-primary: {{.}};
{{ end }}

{{ with .Site.Params.scss.primary }} 
$primary: {{.}};
$link: $primary;
{{ end }}

{{ with .Site.Params.scss.primaryInvert }} 
$primary-invert: {{.}};
{{ end }}

{{ with .Site.Params.scss.brandFont }} 
$brand-font: {{.}};
{{ else }}
$brand-font: $family-primary;
{{ end }}

{{ with .Site.Params.scss.footnote }} 
$foot-note: "{{.}}";
{{ else }}
$foot-note: "Notes:";
{{ end }}

{{ with .Site.Params.Extra.themeVariant }}
@import "node_modules/bulmaswatch/{{.}}/variables";
{{ else }}
@import "node_modules/bulmaswatch/default/variables";
{{ end }}

@import "variables";


@import "node_modules/bulma/bulma";

{{ with .Site.Params.Extra.themeVariant  }}
@import "node_modules/bulmaswatch/{{.}}/overrides";
{{ else }}
@import "node_modules/bulmaswatch/default/variables";
{{ end }}


@import "components/wrapper";
@import "components/hero";
@import "components/card";
@import "components/profile";
@import "components/brand";
@import "components/social";
@import "components/content";
@import "components/tags";
@import "components/footer";
@import "components/gallery";

@import "squarespace/navbar";
@import "squarespace/typography";
@import "squarespace/body";


// Added by Galin:

.anchor {
    position: relative;
    display: block;
    visibility: hidden;
    top: -115px;
}

.not-home .hero-body {
    padding: 1.5rem 1.5rem;
}

@media screen and (min-width: 769px), print {
    .field-label.field-email {
        max-width: 4rem;
    }
}

.card-content {
    padding-left: 0;
}