.brand {
  font-family: $brand-font;
  font-weight: 600;
}

.brand-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
}

.leftBrand {
  @media screen and (min-width: 1087px) {
    display: none;
  }
}

.centerBrand {
  font-size: 2em;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
