.hero.is-primary .hero-body {
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
  h1,
  h1 > a,
  h2 {
    color: white;
  }
  .is-box {
    border-bottom: 1px solid rgba(54, 54, 54, 0.2);

    &.transparent {
      .container {
        padding: 4rem 0;
        border: 10px solid white;
        h1,
        h1 > a,
        h2 {
          color: $primary;
        }
      }
    }
    &.transparent.dark-bg {
      .container {
        background: rgba(0, 0, 0, 0.35);
        h1,
        h1 > a,
        h2 {
          color: white;
        }
      }
    }
    &.transparent.light-bg {
      .container {
        background: rgba(255, 255, 255, 0.5);
        color: inherit;
      }
    }
  }
}
