{{ partial "head.html" . }}
  {{ partial "header.html" . }}
{{ if .IsHome }}
          {{ block "main" . }}
          {{ end }}
        {{ partial "sidebar.html" . }}
{{ else }}
<section class="section">
    <div class="container">
    <div class="columns">
    <div class="column {{ if or ( isset .Site.Params "author" ) ( isset .Site.Params "socialdata" ) }}is-three-quarters{{ end }}">
    {{ block "main" . }}
          {{ end }}
</div>
{{ partial "sidebar.html" . }}
        </div>
</div>
</section>
{{ end }}
{{ partial "footer.html" . }}
{{ partial "foot.html" . }}
