.altBg {
    background-color: $sqrAlt;
}

.has-bg-brown {
    background-color: $brown;
}

.has-no-shadow {
    box-shadow: none;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site_content {
  flex: 1;
}
