body,
.brand {
  font-family: $family-sans-serif;
  color: black;
  p {
    line-height: 1.75em;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
.card,
.title {
  color: black;
}
}

.banner {
  h1 {
    padding: 0.2em;
    font-weight: 700;
    line-height: 1em;
  }
}

h1,
h2 {
  line-height: 1.3em;
}

.is-horizontal-center {
  justify-content: center;
}

.navbar-item {
  color: white;
}
