{{ $context := .context }}
{{- if .context.Content -}}
<div class="card post-card">
  {{- if .isNodeOrHome -}}
    <header class="post-header card-header">
      <div class="card-header-title">
        <a href="{{.context.Permalink}}">{{.context.Title}}</a>
      </div>
      <span class="card-header-author has-text-weight-normal">
        {{ with .context.Params.authors }}{{ delimit . ", "}}
        {{ else }}{{ .context.Site.Params.author.name }}
        {{ end }}
        {{ with .context.PublishDate }} on <time datetime="{{ .Format "2006-01-02T15:04:05-07:00" }}">{{ .Format "02 Jan 2006" }}</time>{{ end }}
      </span>
    </header>
  {{ end }}
  
  
  <div class="card-content">
    
    {{/* partial "content/tagwrapper.html" (dict "context" $context "sp" .sp "position" "head") */}}
    
    {{ if .context.Params.show_gallery }}
    {{ partial "utils/gallery.html" .context }}
    {{ end }}
    <div class="content">
      {{- if and .isNodeOrHome .context.Truncated -}}
        {{ .context.Summary }}
      {{ else }}
        {{- .context.Content -}}
      {{- end -}}
      {{ if .isNodeOrHome }}
        <p><em><a class="content is-small" href="{{ .context.RelPermalink }}">{{- if .context.Truncated -}} Read More... {{- else -}}Go to page{{- end -}}</a></em></p>
      {{ end }}
    </div>

    {{ partial "content/tagwrapper.html" (dict "context" $context "sp" .sp "position" "foot") }}

  {{ if not (or (eq $context.Section "services") (eq $context.Section "projects")) }}
  <div class="columns">
   <div id="disqus_thread" class="column is-full-mobile is-three-quarters-tablet is-two-thirds-desktop"></div>
  </div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://https-braamioweb-gitlab-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{ end }}

  </div>
  
</div>
{{- end -}}
