{{ $context := . }}

</main>
<section class="footer has-background-primary">

    {{ if .Site.Params.twitterName }}
      <div class="columns is-vcentered is-centered">
          <div class="column has-text-centered">
              <a href="https://twitter.com/{{- .Site.Params.twitterName -}}" target="_blank"><span class="icon"><i class="fab fa-2x fa-twitter"></i></span></a>
          </div>
      </div>
    {{ end }}

</section>
<footer class="footer">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-6">
        <div class="columns is-multiline">
          {{ with .Site.Params.footer.left }}
            {{ range . }}
              {{ partial "footer/items.html" (dict "context" $context "list" . ) }}
            {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="column is-6">
        <div class="columns is-multiline">
          {{ with .Site.Params.footer.right }}
            {{ range . }}
              {{ partial "footer/items.html" (dict "context" $context "list" . ) }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {{ partial "utils/attribution.html" . }}
  </div>
</footer>
