<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>

<head>
  {{ partial "head/meta.html" . }}  
  {{ partial "head/fonts.html" . }}
  {{ partial "head/css.html" . }}
  {{ partial "head/extra-head.html" . }}
  
  {{ .Hugo.Generator }}
    {{ if .IsHome }} {{ partial "home/site-verification" . }} {{ end }}
    {{ template "_internal/google_analytics_async.html" . }}
  <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/x-icon" />
</head>

<body class="has-navbar-fixed-top site{{- if not .IsHome }} not-home{{- end -}}">
    <main class="site_content">
