{{ $currentPage := . }}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand leftBrand">
    <a class="navbar-item brand brand-title" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
  <div class="navbar-start">
      <a class="navbar-item" href="{{ $.Site.BaseURL }}#top">Top</a>
      <a class="navbar-item" href="{{ $.Site.BaseURL }}#about">About</a>
      <a class="navbar-item" href="{{ $.Site.BaseURL }}#projects">Projects</a>
      
      <!-- TODO Automate this -->

  </div>
  <div class="navbar-brand centerBrand">
    <a class="navbar-item brand brand-title" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
  </div>
  <div class="navbar-end">
    {{ range .Site.Menus.main }}
    <a class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end}}
    <a class="navbar-item" href="{{ $.Site.BaseURL }}#contact">Contact</a>
  </div>
</div>
</nav>


<script>
  /* From Bulma */
  document.addEventListener('DOMContentLoaded', function () {
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    if ($navbarBurgers.length > 0) {
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {
          var target = $el.dataset.target;
          var $target = document.getElementById(target);
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>
