<section class="section altBg">
    <div class="container">
        <h1 class="title is-2 has-text-centered"><span id="about" class="anchor"></span>About Peter Braam</h1>
        <div class="columns is-centered is-vcentered">
            <div class="column is-narrow is-horizontal-center">
                <img src="{{ .Site.Data.home.aboutPeter.img }}" width="200" height="200">
            </div>
            <div class="column is-offset-1">
                {{ range .Site.Data.home.aboutPeter.desc }}
                <p>{{ . | markdownify }}</p><br>
                {{ end }}
            </div>
        </div>
        <p class="has-text-centered title is-3"><a href="/services/" class="button">More About Peter</a></p>
    </div>
</section>
