  <section class="section altBg">
    <div class="container">
      <h1 class="title is-2 has-text-centered"><span id="contact" class="anchor"></span>Contact</h1>
<form method="POST" action="https://formspree.io/peter@braam.io">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
    <input type="hidden" name="options[entryId]" value="{{ .UniqueID }}">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">From*</label>
        </div>
        <div class="field-body">

          <div class="field">
            <p class="control is-expanded has-icons-left">
            <input class="input" name="fields[name]" type="text" placeholder=
            "Name" required>
            <span class="icon is-small is-left">
            <i class="fas fa-user-alt"></i>
            </span>
            </p>
          </div>

          <div class="field-label is-normal field-email">
            <label class="label">Email*</label>
          </div>
          <div class="field">  
            <p class="control is-expanded has-icons-left has-icons-right">
            <input class="input has-icons-email" name="fields[email]" type="email"
            placeholder="Email" required>
                <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
            </p>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Subject</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input is-normal" name="fields[subject]" type="text"
              placeholder="e.g. Partnership opportunity">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Message*</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <textarea class="textarea" name="fields[body]" placeholder=
              "Talk to me" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="button is-primary is-rounded" type="submit" value="Send message">
            </div>
          </div>
        </div>
      </div>
<p class="help is-danger"> * indicates a required field</p>
      </div>
</form>
<!-- TODO handle form-submitted and form-error options -->
    </div>
  </section>
