 <section class="section">
    <div class="container">
      <h1 class="title is-2 has-text-centered"><span id="projects" class="anchor"></span>Projects</h1>
      <div class="columns is-multiline">
          {{ range $.Site.Data.home.projects }}
        <div class="column is-half">
          <div class="card has-no-shadow">
            <div class="card-image">
              <figure>
                <img src="{{.Site.BaseURL}}{{ .img }}", width = "400", height = "400">
                <!-- alt="Placeholder image"> -->
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{ .title }}</p>
                  <p class="subtitle is-6">{{ .subtitle }}</p>
                </div>
              </div>
              <div class="content">
               {{ .desc | markdownify }} 
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
        <p class="has-text-centered title is-3"><a href="/projects/" class="button">More About Projects</a></p>
    </div>
  </section>
